.container{
    display:flex;
}

.left{
    width: 10%;
    height: 100vh;
    background-color: #E0E0E0;
}

.center{
    width: 80%;
    height : 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.center div{
    width : 80%;
    height : 30vh;
    margin-top : 20px;
    background-color: #CCE5FF;
    
    
}

.right{
    width: 10%;
    height: 100vh;
    background-color: #E0E0E0;
}