.container{
    display:flex;
    width:100%;
    justify-content:center;
    height:100px;
    border: 10px;
    background-color: #FDE698;
    align-items: center;justify-content: center;
}

.container p{
    font-size : 30px;
    margin-left:35px;
    margin-right:35px;
}